@model BlogReader.Core.Services.GetRssFeedContentResponse
@{
    ViewData["Title"] = "Home Page";
}
<amp-story standalone
           title="@Model.Title"
           publisher="Test Publisher"
           publisher-logo-src="/images/logo.svg"
           poster-portrait-source="/images/cover.png">

    @foreach (var contentItem in Model.ContentItems)
    {
        <amp-story-page>

            <amp-story-grid-layer template="vertical">
                <amp-img src="@contentItem.ImageLink"
                         layout="responsive">
                </amp-img>
                <amp-story-grid-layer template="thirds">
                    <h2 grid-area="upper-third">@contentItem.Title</h2>
                    <div grid-area="middle-third">
                        <img src="@contentItem.ImageLink"
                             whoosh-in-right="1000" />
                    </div>
                    <p grid-area="lower-third">
                        @Html.Raw(contentItem.SummaryTextWithNoImages)
                    </p>

                </amp-story-grid-layer>
            </amp-story-grid-layer>

        </amp-story-page>
    }
</amp-story>